<div class="mt-4">
  <h2>Khóa học đã xóa</h2>
  <a href="/me/stored/courses">Danh sách khóa học</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
          </td>
          <td>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-id="{{this._id}}"
              data-target="#delete-course-model"
            >Xóa vĩnh viễn</a>

          </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6">Thùng rác trống.
              <a href="/me/stored/courses">Danh sách khóa học</a>
            </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="delete-course-model" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục lại!.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa
          bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Huy</button>
      </div>
    </div>
  </div>
</div>
<form name="form-course-delete" method="POST" ></form>
<form name="form-course-restore" method="POST" ></form>

<script>
  
  document.addEventListener('DOMContentLoaded',function(){
  var courseId
  var btnDeleteCourse = document.getElementById("btn-delete-course")
  var btnRestore = $('.btn-restore')
  var deleteForm = document.forms['form-course-delete']
  var formCourseRestore = document.forms['form-course-restore']
  $('#delete-course-model').on('show.bs.modal', function(event){ 
  var button = event.relatedTarget; 
  courseId= button.getAttribute('data-id'); 
  
  btnDeleteCourse.onclick=function(){
    deleteForm.action='/courses/'+courseId+'/force?_method=DELETE';
    deleteForm.submit()
  }
  }); 

  btnRestore.click(function(e){
    e.preventDefault()
    var courseId = $(this).data('id')
      formCourseRestore.action ='/courses/'+courseId+'/restore?_method=PATCH'
      formCourseRestore.submit()
  })
  } )

</script>